# Python bytecode
__pycache__/
*.py[cod]

# Virtual environment
venv/
ENV/
env/
.venv/
.venv/

# Environment variables
.env

# IDE configurations
.idea/
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Logs
*.log

# Other files
*.sqlite3
